@font-face {
    font-family: "Platform Regular";
    src: url('../fuentes/logo/p-regular.ttf') format('truetype');
}

@keyframes cicloDeSombra {
    0% {
        filter: drop-shadow(0 0 5px rgba(0, 0, 255, 0));
        text-shadow: 0 0 10px rgba(0, 0, 255, 0);
        color: rgba(0, 0, 0, 1);
    }

    50% {
        filter: drop-shadow(0 0 5px rgba(0, 0, 255, 1));
        text-shadow: 0 0 10px rgba(0, 0, 255, 1);
        color: rgba(0, 0, 85, 1);
    }

    100% {
        filter: drop-shadow(0 0 5px rgba(0, 0, 255, 0));
        text-shadow: 0 0 10px rgba(0, 0, 255, 0);
        color: rgba(0, 0, 0, 1);
    }
}

@keyframes cicloDeTamanio {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(101%);
    }

    100% {
        transform: scale(100%);
    }
}

body {
    background-image: url('../arte/textura_fondo.jpeg');
    background-repeat: repeat;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.encabezado-general img {
    max-width: 80vw;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.encabezado-general {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem;
}

.logo-escudo {
    height: 7rem;
    margin-right: 1rem;
}

.encabezado-general {
    max-width: 90vw;
    height: 6rem;
    border-radius: 0rem;
    background-color: rgba(255, 255, 255, 1);
    border: .15rem outset rgba(25, 25, 25, .85);
    margin: .5rem;
    padding: 2.25rem;
    margin-bottom: 3.5rem;
}

.redes-sociales {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.redes-sociales img {
    height: 8rem;
    max-height: 15vh;
    margin-left: 1rem;
    margin-top: 1.25rem;
    padding: 0;
    filter: drop-shadow(0 0 .15rem rgba(25, 25, 25, .65));
    animation: cicloDeTamanio 500ms infinite;
}

.redes-sociales img:hover {
    animation: cicloDeSombra 1s infinite;
}

#x-page {
    width: 100%;
    margin: 0 1rem;
    height: 10rem;
    width: 25rem;
}

#redes-widgets {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 768px) {

    header,
    .redes-sociales,
    .encabezado-general {
        flex-direction: column;
        align-items: center;
    }

    #x-page {
        margin-top: 1rem;
    }

    footer {
        display: none;
    }

    .logo-escudo {
        margin-bottom: 1rem;
    }
}

#correo {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    font-family: "Platform Regular";
    margin: 5rem;
    margin-top: 2rem;
    flex-direction: column;
    text-align: center;
    max-width: 90vw;
}

/*
.correo-e {
    animation: cicloDeTamanio 500ms infinite;
    max-width: 90vw;
    justify-content: center;
    margin-top: 0rem;
}
*/

.correo-e {
    justify-content: center;
    display: inline-block;
     word-wrap: break-word;
    text-decoration: none;
    margin-top: 0rem;
    animation: cicloDeTamanio 500ms infinite;
}

.correo-titulo {
    margin-bottom: 1rem;
}


a {
    text-decoration: none;
    color: inherit;
}

.correo-e:hover {
    animation: cicloDeSombra 1s infinite;
}