@font-face {
    font-family: "Platform Regular";
    src: url('../fuentes/logo/p-regular.ttf') format('truetype');
}

@font-face {
    font-family: "Gotham Bold";
    src: url('../fuentes/general/g-bold.otf') format('opentype');
}

@font-face {
    font-family: "Gotham Ultra";
    src: url('../fuentes/general/g-ultra.otf') format('opentype');
}

@keyframes cicloDeSombra {
    0% {
        filter: drop-shadow(0 0 5px rgba(0, 0, 255, 0));
        text-shadow: 0 0 10px rgba(0, 0, 255, 0);
        color: rgba(0, 0, 0, 1);
    }

    50% {
        filter: drop-shadow(0 0 5px rgba(0, 0, 255, 1));
        text-shadow: 0 0 10px rgba(0, 0, 255, 1);
        color: rgba(0, 0, 85, 1);
    }

    100% {
        filter: drop-shadow(0 0 5px rgba(0, 0, 255, 0));
        text-shadow: 0 0 10px rgba(0, 0, 255, 0);
        color: rgba(0, 0, 0, 1);
    }
}

@keyframes cicloDeEscala {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(101%);
    }

    100% {
        transform: scale(100%);
    }
}

@keyframes cicloRebote {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
        /* Move up */
    }

    60% {
        transform: translateY(-5px);
        /* Move down slightly */
    }
}

body {
    background-image: url('../arte/textura_fondo.jpeg');
    background-repeat: repeat;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

.encabezado-general img {
    max-width: 70vw;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.encabezado-general {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem;
}

.logo-escudo {
    height: 8.85rem;
    margin-right: 1rem;
}

.encabezado-general {
    max-width: 90vw;
    background-color: rgba(255, 255, 255, 1);
    border: .15rem outset rgba(25, 25, 25, .85);
    margin: .5rem;
    padding: 1.5rem;
    /*margin-bottom: 3.5rem;*/
}

.redes-sociales {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.redes-sociales img {
    height: 8rem;
    max-height: 15vh;
    margin-left: .75rem;
    margin-right: .75rem;
    margin-top: 1.25rem;
    padding: 0;
    filter: drop-shadow(0 0 .15rem rgba(25, 25, 25, .65));
    animation: cicloDeEscala 500ms infinite;
}

.redes-sociales img:hover {
    animation: cicloDeSombra 1s infinite;
}

#redes {
    margin-top: 5rem;
    margin-bottom: 2rem;

}

#correo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: "Gotham Bold";
    font-size: 3.5rem;
    margin: 4rem;
    margin-top: 0;
    margin-bottom: 6rem;
    max-width: 90vw;
}

.correo-e,
.correo-titulo {
    text-align: center;
    justify-content: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 0rem;
    font-size: 3vw;
}

/*
.correo-e {
    display: inline-block;
    word-wrap: break-word;
    animation: cicloDeEscala 500ms infinite;
    text-wrap-mode: wrap;
}
*/

.correo-e {
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    animation: cicloDeEscala 500ms infinite;
}

.correo-titulo {
    display: flex;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.correo-e:hover {
    animation: cicloDeSombra 1s infinite;
}

.emoji-apuntando {
    display: block;
    margin: 0 auto;
    width: 4.5rem;
    text-align: center;
    justify-content: center;
    text-align: center;
    animation: cicloRebote .75s infinite;
}

#mapa {
    padding: 1rem;
    margin: 1rem;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Gotham Bold";
}

#mapa-frame {
    display: flex;
    justify-content: center;
}

#redes-widgets {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 0rem;
    margin-bottom: 6rem;
}

/*
#x-page {
    width: 21rem;
}

.fb-page,
#x-page {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;


*/

.fb-post {
    background-color: rgba(255, 255, 255, 1);
    max-width: fit-content;
}

.fb-post,
.twitter-tweet,
.instagram-media {
    margin: 1rem;
}

.instagram-media {
    margin-top: .65rem !important;
}

.twitter-tweet {
    margin-right: 2rem;
}

#mapa-frame {
    filter: drop-shadow(0 0 .30rem rgba(25, 25, 25, 1));
    margin-top: 0;
}

#mapa-frame:hover {
    animation: cicloDeSombra 1s infinite;
}

/*
iframe {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}
*/
footer {
    font-family: "Gotham Bold";
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    flex-direction: column;
    text-align: center;
    max-width: 95vw;
    margin-top: 0;
    margin-bottom: -20rem;
}

/*
.photo-slide {
    max-width: 90vw;
}*/


.photo-slide {
    margin-top: 6rem;
}

.carousel-item img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    /*
    position: absolute;
    top: 50%;
    
    z-index: 5;
    width: 5%;
    */
    margin: -1rem;
    font-size: 135%;
    font-family: "Gotham Ultra";
    color: rgba(0, 0, 0, 1) !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
    transform: scale(2);
}

.carousel-control-next {
    transform: translateX(-50%);
}

.carousel-control-prev {
    transform: translateX(50%);
}

.carousel-inner {
    text-align: center;
}

.d-block {
    width: 60vw;
}

@media (max-width: 648px) {
    .redes-sociales {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {

    header,
    .encabezado-general,
    #redes-widgets {
        flex-direction: column;
        align-items: center;
    }

    .redes-sociales {
        margin-left: 0;
        margin-right: 0;
    }

    .logo-escudo {
        margin-bottom: 1rem;
    }

    .fb-post,
    .twitter-tweet,
    .instagram-media {
        margin: 0rem;
    }

    .twitter-tweet {
        margin: 1rem;
        margin-top: 1.25rem !important;
    }

    .correo-e {
        font-size: 8.5vw;
    }
}

@media (min-width: 769px) and (max-width: 1390px) {

    #redes-widgets {
        flex-direction: column;
        align-items: center;
    }

    .redes-sociales {
        margin-left: 0;
        margin-right: 0;
    }

    .fb-post,
    .twitter-tweet,
    .instagram-media {
        margin: 0rem;
    }

    .twitter-tweet {
        margin: 1rem;
        margin-top: 1.25rem !important;
    }

    .correo-e {
        font-size: 6vw;
    }

}